@page "/Account/AccessDenied"

<PageTitle>Erişim reddedildi</PageTitle>

<header>
    <h1 class="text-danger">Erişim reddedildi</h1>
    <p class="text-danger">Bu kaynağa erişiminiz yok.</p>
</header>
