@namespace petsas2.Components
@using Microsoft.AspNetCore.Components

<div class="container my-3">
    @if (!string.IsNullOrEmpty(ImageSrc))
    {
        <img src="@ImageSrc"
             alt="@Title"
             class="img-fluid w-50 d-block mx-auto mb-4" />
    }

    @if (!string.IsNullOrEmpty(Title))
    {
        <h1 class="mb-4">@Title</h1>
    }

    @ChildContent
</div>

@code {
    [Parameter] public string? ImageSrc { get; set; }
    [Parameter] public string? Title { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
@* kvkkpolicy *@