@page "/User/UserDashboard"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components
@using petsas2.Components
@using MudBlazor
@using petsas2.Components.Pages.Shared @* CardsGrid kullanabilmek için *@

@attribute [Authorize]

<h1>Hesabım</h1>

<CardsGrid Items="CardList" />

@code {
    private List<CardsGrid.CardInfo> CardList = new() {
        new() { Title = "Profil Bilgilerim", Icon="bi bi-clipboard-heart-fill",  Link = "/user/profile", ButtonText = "Profil Bilgilerim" },
        new() { Title = "Adres Bilgilerim",  Icon="bi bi-house-door-fill",      Link = "/user/address", ButtonText = "Adres Bilgilerim" },
        new() { Title = "Siparişlerim",      Icon="bi bi-box2-heart-fill",        Link = "/user/orders", ButtonText = "Siparişlerim" },
        new() { Title = "Sepetim",           Icon="bi bi-bag-heart-fill",          Link = "/user/cart", ButtonText = "Sepetim" },
        new() { Title = "Şifreyi Güncelle",  Icon="bi bi-bootstrap-reboot",        Link = "/Account/ResetPassword", ButtonText = "Şifreyi Güncelle" },
        new() { Title = "Favorilerim",       Icon="bi bi-arrow-through-heart-fill",     Link = "/user/fav", ButtonText = "Favorilerim" },
        new() { Title = "Çıkış Yap",         Icon="bi bi-box-arrow-right",    Link = "/Account/Logout", ButtonText = "Çıkış Yap" }
    };


}

@* profil içinde şifremi değiştir -changepassword*@
@* reset password çalışmıyor--favorilerim ?? *@
@* icon @Icons.Material.Filled.Pets *@