@page "/"
@using MudBlazor
@using petsas2.Components.Pages.Shared

<PageTitle>Home</PageTitle>

<Carousel />
@* Güvenli Alışveriş *@
@* Hızlı Teslimat *@
@* Orijinal Ürün *@
@* 500 Tl üzeri ücretsiz kargo*@

@* markalar *@

@* çok satanlar *@

@* blog yazılarının ekran görüntüleri devamını oku 4 adet *@

@* sorı cevap eklenebilir daha sonra *@

@* sıkça sorulan sorular *@

<h1> çalış</h1>
<h1> çalış</h1>
<h1> çalış</h1>
<h1> çalış</h1>
<h1> çalış</h1>
<h1> çalış</h1>
<h1> çalış</h1>
<h1> çalış</h1>
<h1> çalış</h1>
<h1> çalış</h1>
<h1> çalış</h1>
<h1> çalış</h1>
<h1> çalış</h1>
<h1> çalış</h1>
<h1> çalış</h1>