@page "/Supplier/SupplierDashboard"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Supplier")]

@using Microsoft.AspNetCore.Components
@using petsas2.Components
@using MudBlazor
@using petsas2.Components.Pages.Shared @* CardsGrid kullanabilmek için *@

<h1>Tedarikçi Hesabım</h1>

<CardsGrid Items="CardList" />

@code {
    private List<CardsGrid.CardInfo> CardList = new() {
        new() { Title = "Ürün-Stok İşlemleri", Icon="bi bi-upc-scan",  Link = "", ButtonText = "Git" },
        new() { Title = "Gelen Siparişler-Kargo Yönetimi",  Icon="bi bi-truck",      Link = "", ButtonText = "Git" },
    };
    //tedarikçi siparişleri görüntüler ve hazırlar
    //stok durumunu takip eder ve stok günceller
    //ürün fiyatlarını güncelleyebilir - admin de güncelleyebilir
}

