@page "/admin/admindashboard"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]
@using Microsoft.AspNetCore.Components
@using petsas2.Components
@using MudBlazor
@using petsas2.Components.Pages.Shared @* CardsGrid kullanabilmek için *@

<h2 class="d-flex align-items-center">
    <MudIcon Icon="@Icons.Material.Filled.AdminPanelSettings"
             Size="Size.Small"
             Class="me-1" />
    Admin Paneli
</h2>

<CardsGrid Items="CardList" />

@code {
    private List<CardsGrid.CardInfo> CardList = new()
    {   //dashboard hem admin hem tedarikçide gösterilisn --toplam satış , günlük satış, kullanıcılar, en çok satan ürünler
        //fatura işlemleri

         //kullanıcıları yönet ?
         // KULLANICI YÖNETİMİ   Kullanıcı listesi(üyelik tarihi, maili, sipariş sayısı)
         // Roller(Admin, Müşteri, Personel)
         // Kullanıcıyı pasifleştirme / engelleme
         // E-posta ile kampanya yollama

        //tedarikçi işlem yaparken admine onay göndermeli admin onaylamalı mı direkt işlme yapabilmeli mi?
        // new() { Title = "Tedarikçiyi Yönet",  Icon="bi bi-person-vcard",      Link = "", ButtonText = "Git" },
        // new() { Title = "Kullanıcıları Yönet",  Icon="bi bi-person-hearts",      Link = "", ButtonText = "Git" }


        //tedarikçi ile ortak
        new() { Title = "Marka Yönetimi" ,      Icon="bi bi-nvidia",     Link =  "/brand/BrandIndex",             ButtonText = "Git" },  //+
        new() { Title = "Kategori Yönetimi" ,   Icon="bi bi-tags-fill",  Link =  "/category/CategoryIndex",       ButtonText = "Git" },  //+
        new() { Title = "Alt Kategori Yönetimi",Icon="bi bi-back",       Link =  "/subcategory/SubCategoryIndex", ButtonText = "Git" },  //+
        new() { Title = "Ürün-Stok Yönetimi",Icon="bi bi-back",       Link =  "/subcategory/SubCategoryIndex", ButtonText = "Git" },
        new() { Title = "Ürün Özellikleri Yönetimi",Icon="bi bi-back",       Link =  "/subcategory/SubCategoryIndex", ButtonText = "Git" }
        // new() { Title = "Sipariş Yönetimi",  Icon="bi bi-truck",      Link = "", ButtonText = "Git" },
        //SİPARİŞ YÖNETİMİ	SİPARİŞ LİSTESİ    SİPARİŞ DETAYLARI     SİPARİŞ DURUMU     SİPARİŞ İPTAL/İADE
        // new() { Title = "Kargo Yönetimi",  Icon="bi bi-truck",      Link = "", ButtonText = "Git" },

        //  KARGO YÖNETİMİ    Kargo firması seçimi
        //  Kargo takip numarası girme
        //  Kargo durumu: Hazırlanıyor / Kargoya verildi / Teslim edildi
        //  Kargo ücreti hesaplama(ağırlık veya şehre göre)
    };

   




}

