@page "/about"
@using petsas2.Components.Pages.Shared
<Carousel />
<style>
    body {
        background-color: #fff;
        margin-top: 20px;
    }

    .border-5, .border-w-5 {
        border-width: 5px !important;
    }

    .border-white {
        border: 1px solid transparent;
        border-color: #fff !important;
    }

    hr.hr-primary {
        border-top-color: #CC164D !important;
    }

    em {
        font-style: italic;
    }

    .font-weight-normal {
        font-weight: 300 !important;
    }
</style>

<div class="container py-5">
    <h4 class="text-uppercase text-letter-spacing-xs my-0 text-dark font-weight-bold">
        Hakkımızda <i class="ion-ios-body pl-1 text-primary op-8 z-index-1"></i>
    </h4>
    <hr class="hr-primary w-15 hr-xl ml-0 mb-5">

    <div class="row mb-5">
        <div class="col-md-6 order-md-2">
            <img src="/img/about/us.jpg" alt="Biz Kimiz?" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60 rounded-circle">
        </div>
        <div class="col-md-6 flex-valign text-md-right">
            <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
                Biz Kimiz?
            </h3>
            <h5 class="my-0 font-weight-normal">
                <em>Biz Kimiz?</em>
            </h5>
            <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
            <p>
                PetSas, hayvan dostlarınız için kaliteli ürünler sunan
                Türkiye’nin önde gelen e-ticaret platformudur. 2025’ten beri
                evcil hayvan sahiplerinin güvenle alışveriş yapabileceği bir
                adres olmayı sürdürüyoruz.
            </p>
        </div>
    </div>

    <div class="row mb-5">

        <div class="col-md-6 text-md-right">
            <img src="/img/about/admin.jpg" alt="Admin" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60 rounded-circle">
        </div>
        <div class="col-md-6 flex-valign text-md-right">
            <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
                Selin Pir
            </h3>
            <h5 class="my-0 font-weight-normal">
                <em>Admin</em>
            </h5>
            <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
            <p>Aptent dolore enim facilisi humo magna melior nisl occuro. Ad os sed utinam. Accumsan autem brevitas esse exerci ludus ratis.</p>
        </div>
    </div>


    <div class="row mb-5">
        <div class="col-md-6 order-md-2">
            <img src="/img/about/supplier.jpg" alt="Supplier" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60 rounded-circle">
        </div>
        <div class="col-md-6 flex-valign">
            <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
                Tedarikçi
            </h3>
            <h5 class="my-0 font-weight-normal">
                <em>Tedarikçi</em>
            </h5>
            <hr class="hr-primary w-70 ml-0 mb-3">
            <p>Commoveo gilvus iaceo nutus pagus tincidunt. Eligo nutus proprius saluto vulputate. Brevitas eligo et fere quadrum quae ratis.</p>
        </div>
    </div>


    <div class="row mb-5">
        <div class="col-md-6 text-md-right">
            <img src="/img/about/pet.jpg" alt="pet" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60 rounded-circle">
        </div>
        <div class="col-md-6 flex-valign text-md-right">
            <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
                Mutlu Petler
            </h3>
            <h5 class="my-0 font-weight-normal">
                <em>Mutlu Petler</em>
            </h5>
            <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
            <p>Causa dolor et immitto typicus. Gilvus minim nunc pala suscipere tation usitas volutpat. Abbas abdo meus.</p>
            <a href=" " data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> Alışverişe Devam Et</a>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 order-md-2">
            <img src="/img/about/user.jpg" alt="user" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60 rounded-circle">
        </div>
        <div class="col-md-6 flex-valign">
            <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
                Mutlu Kullanıcılar
            </h3>
            <h5 class="my-0 font-weight-normal">
                <em>  Mutlu Kullanıcılar</em>
            </h5>
            <hr class="hr-primary w-70 ml-0 mb-3">
            <p>Abico diam scisco. Amet conventio ex ille iriure metuo olim probo. Conventio esca incassum metuo ulciscor.</p>
            <a href=" " data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> Alışverişe Devam Et</a>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-md-right">
            <img src="/img/about/contact.jpg" alt="İletişim" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60 rounded-circle">
        </div>
        <div class="col-md-6 flex-valign">
            <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
                İletişim
            </h3>
            <h5 class="my-0 font-weight-normal">
                <em> İletişim</em>
            </h5>
            <hr class="hr-primary w-70 ml-0 mb-3">
            <p>
                E-posta: info@petsas.com
            </p>
            <p>
                Telefon: 555 444 44 30
            </p>
            <p>
                Adres: Örnek Mah. No:123
            </p>
        </div>
    </div>
</div>
