@page "/Admin/AdminDashboard"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]

<h1>Admin Paneli</h1>
<p>Hoş geldiniz, Admin!</p>

@code {
    // Admin paneline özel kodlar
}