@page "/legal/CookiePolicy"

<LegalPage ImageSrc="img/legal/cerez.png"
           Title="Çerez Politikası">
 
    <h3>  1. Çerez Nedir?</h3>
    <p>
        Çerezler (cookies), web sitemizi ziyaret ettiğinizde tarayıcınıza yerleştirilen ve cihazınızda depolanan küçük metin dosyalarıdır.
        Çerezler; oturum bilgilerinizi saklayarak kullanım kolaylığı sağlar, tercihlerinizi hatırlar ve sayfa performansını ölçmemize yardımcı olur.
    </p>

    <h3>  2. Kullanılan Çerez Türleri</h3>
    <p>
        Kesinlikle Gerekli Çerezler: Site güvenliği ve temel işlevlerin (giriş yapma, sepet yönetimi) çalışması için zorunludur.
        Performans Çerezleri: Site trafiğini ve kullanım istatistiklerini toplar; hangi sayfaların daha fazla ziyaret edildiğini analiz etmemizi sağlar.
        İşlevsellik Çerezleri: Sitenin hatırlama ve özelleştirme özelliklerini (dil tercihi, ürün karşılaştırma) geliştirir.
        Reklam ve Hedefleme Çerezleri: İlgi alanlarınıza uygun reklamlar sunmak için üçüncü taraf ağlar tarafından yerleştirilir.
    </p>

    <h3> 3. Çerez Kontrolü ve Reddetme</h3>
    <p>
        Tarayıcınızın ayarlarından çerezleri tamamen veya belirli çerez türlerini engelleyebilir, silme işlemi yapabilirsiniz.
        Ancak çerezleri devre dışı bırakmanız halinde site deneyiminiz kısıtlanabilir; oturum açma, sepet işlevleri ve kişiselleştirme özellikleri çalışmayabilir.
    </p>


    <h3>  4. Üçüncü Taraf Çerezleri</h3>
    <p>
        Google Analytics, Facebook Pixel gibi üçüncü taraf servisler, analiz ve reklam amacıyla kendi çerezlerini yerleştirebilir. Bu çerezlerin kullanım koşulları ve gizlilik politikaları ilgili servis sağlayıcıların web sitelerinde yer almaktadır.
    </p>
 
</LegalPage>