@page "/Supplier/SupplierDashboard"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Supplier")]

<h1>Tedarikçi Paneli</h1>
<p>Hoş geldiniz, Tedarikçi!</p>

@code {
    // Tedarikçi paneline özel kodlar
}