@page "/category/CategoryEdit/{id:int}"

@using petsas2.Services

@attribute [Authorize(Roles = "Admin")]
@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@using petsas2.Models
@using petsas2.Services.Interface
@using static MudBlazor.Icons.Material
@inject ICategoryService CategoryService
@inject NavigationManager Navigation
@inject ISnackbar Snackbar

<MudGrid GutterSize="2">
    <MudItem xs="12">
        <MudTextField T="string"
                      Value="ReadOnly"
                      Label="Şu Anda Buradasınız"
                      ReadOnly="true"
                      Variant="Variant.Outlined" />
    </MudItem>
</MudGrid>

@if (category == null)
{
    <MudProgressCircular Indeterminate="true" />
}
else
{
    <MudPaper Class="p-4">
        <MudTextField @bind-Value="category.PetType" Label="Kategori Adı" Variant="Variant.Outlined" />

        <div class="mt-3 d-flex gap-2">
            <MudButton Color="Color.Secondary" OnClick="Cancel">İptal</MudButton>
            <MudButton Color="Color.Primary" OnClick="UpdateCategory">Güncelle</MudButton>
        </div>
    </MudPaper>
}

@code{
    public string ReadOnly { get; set; } = "Kategori Güncelle";
    [Parameter]
    public int id { get; set; }
    private Category? category;

    protected override async Task OnInitializedAsync()
    {
        category = await CategoryService.GetByIdAsync(id);
    }

    // private async Task UpdateCategory()
    // {
    //     if(category != null)
    //     {
    //         await CategoryService.UpdateAsync(category);
    //         Navigation.NavigateTo("/Category/CategoryIndex");
    //     }
    // }
    
    private async Task UpdateCategory()
    {
        if (category == null)
            return;

        try
        {
            await CategoryService.UpdateAsync(category!);
            Snackbar.Add("Kategori başarıyla güncellendi.", Severity.Success);
            Navigation.NavigateTo("/Category/CategoryIndex");
        }
        catch (Exception ex)
        {
            // Burada circuit çökmez, kullanıcıya Snackbar mesajı gidip işlem devam eder
            Snackbar.Add(ex.Message, Severity.Error);
        }
    }


    //iptal
    private void Cancel()
    {
        Navigation.NavigateTo("/Category/CategoryIndex");
    }
}