@page "/legal/KvkkPolicy"


<LegalPage ImageSrc="img/legal/kvkk.png"
           Title="KVKK Aydınlatma Metni">
    <div class="justified">      
        <p>
            KİŞİSEL VERİLERİN KORUNMASI VE İŞLENMESİ HAKKINDA AYDINLATMA METNİ
        </p>
        <p>
            6698 sayılı Kişisel Verilerin Korunması Kanunu (“KVKK”) hükümleri gereği kimliğinizi belirli veya belirlenebilir kılan her türlü bilginiz, özel nitelikli kişisel verileriniz de dahil olmak üzere, Kişisel Veri olarak aşağıdaki kapsamda, Veri Sorumlusu sıfatıyla PetSas (https://www.petsas.com)tarafından işlenecektir. “Kişisel Verilerinizin işlenmesi” ise bu verilerin elde edilmesi, kaydedilmesi, depolanması, muhafaza edilmesi, değiştirilmesi, yeniden düzenlenmesi, açıklanması, aktarılması, devralınması, elde edilebilir hale getirilmesi, sınıflandırılması ya da kullanılmasının engellenmesi ve imhası gibi veriler üzerinde gerçekleştirilen her türlü işlemi ifade etmektedir.
            Şirketimiz ile abone, müşteri, tedarikçi, tüketici, ziyaretçi, iş ortağı veya çalışan sıfatı ile paylaştığınız kişisel verileriniz KVKK’ya uygun şekilde, faaliyet ve hizmet amaçlarımız ile bağlantılı ve ölçülü olarak işlenebilecek, yurt içi ve yurt dışındaki üçüncü kişilere aktarılabilecek, saklanacak, profilleme için kullanılabilecek ve sınıflandırılabilecektir.
            https://www.petsas.com olarak kişisel verilerinizin güvenliğine en üst düzeyde önem vererek, sizlere sunduğumuz tüm ürün ve hizmetlerimizde kişisel verilerinizin hukuka uygun olarak toplanması, saklanması, işlenmesi, gerekmesi durumunda paylaşılması sırasında gizliliğinizi korumak amacıyla mümkün olan en üst seviyede güvenlik tedbirlerini almaktadır.
            Amacımız; sizlerin memnuniyeti doğrultusunda, kişisel verilerinizin toplanma şekilleri, işlenme amaçları, işlemenin hukuki nedenleri ve haklarınız konularında sizleri en açık şekilde bilgilendirmektir.
        </p>
        <p>
            Aşağıda kişisel verilerin korunması ve işlenmesi konusunda önem taşıyan bilgiler yer almaktadır.
        </p>

        <h4>A) Veri Sorumlusu</h4>
        <p>
            6698 sayılı Kişisel Verilerin Korunması Kanunu (6698 sayılı Kanun) uyarınca kişisel verileriniz, veri sorumlusu olarak PetSas (https://www.ornek.com) tarafından aşağıda açıklanan kapsamda toplanacak ve işlenebilecektir.
        </p>

        <h4>B) Kişisel Verilerin Hangi Amaçla İşleneceği</h4>
        <p>
            Kişisel verileriniz, sözleşmelerinizin gereğinin yerine getirilmesi, sunulan hizmet için gerekli değerlendirmelerin yapılması, vergi mevzuatı ve Sosyal Güvenlik Kurumu mevzuatı başta olmak üzere yurt içi ve uluslararası mevzuata uyumun sağlanması, risk izleme ve bilgilendirme yükümlülüklerine uyulması, otoritelerce öngörülen bilgi paylaşımı, raporlama, bilgilendirme yükümlülüklerinin yerine getirilmesi, yasal mevzuattan kaynaklanan bilgi ve belge saklama yükümlülüklerinin yerine getirilmesi, dolandırıcılığın önlenmesi, güvenliğin sağlanması, şirketimizce ihtiyaç duyulan planlama ve istatistik faaliyetlerinin yürütülmesi, şirketimizin ticari ve iş stratejilerinin belirlenmesi ve uygulanması, finans, iletişim, pazar araştırması ve satın alma operasyonlarımızın yürütülmesi, şirket içi sistem ve uygulama yönetimi operasyonlarının sürdürülmesi, hukuki süreçlerimizin yönetilmesi ve sosyal sorumluluk projelerinin gerçekleştirilmesi, tarafınıza kesintisiz olarak daha iyi ve güvenilir hizmet verilebilmesi amaçlarıyla 6698 sayılı Kanun’un 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları dahilinde işlenecektir.
        </p>
        <p>
            Kişisel verileriniz yukarıda belirtilenlerin yanı sıra sizlere özel her türlü ürün ve hizmetlerin sunulabilmesi için bu konuda aldığınız/alacağınız ürün ve hizmete ilişkin olarak sizlerle iletişim kurulabilmesi, ayrıca izin vermiş olmanız durumunda tanıtım, ürün/hizmet teklifi, pazarlama ve kampanya faaliyetlerinde kullanılabilmesi ile tarafınıza uygun hizmetler ve ürünler geliştirilmesi, müşteri memnuniyeti çalışmaları yapılması, şirketimizin mevcut veya yeni ürün çalışmaları ve pazar araştırması ve hedef müşteri grubu tespiti vb. için işlenebilmektedir. Şirketimiz ile iş ilişkisi içerisinde olan üçüncü gerçek veya tüzel kişiler ile yapılan sözleşmeler veya birlikte yürütülen faaliyetler çerçevesinde, şirketimizin sözleşmeden kaynaklanan hukuki ve ticari yükümlülüklerinin yerine getirilmesi, hak tesisi, hakların korunması, ticari ve hukuki değerlendirme süreçleri, hukuki ve ticari risk analizleri, mali işlerin yürütülmesi amacıyla kişisel verileriniz işlenebilmektedir. Şirketimizin insan kaynakları faaliyetleri nedeni ile iletişim kurulan çalışan adaylarına ait kişisel veriler, işe alım, değerlendirme, iletişim, yerleştirme ve diğer insan kaynakları faaliyetleri ve iş başvurusunun herhangi bir sebeple olumsuz sonuçlanması halinde, başka bir pozisyon çerçevesinde tekrar değerlendirilmesi amacıyla şirketimiz tarafından işlenebilmektedir.
        </p>

        <h4>C) İşlenen Kişisel Verilerin Kimlere ve Hangi Amaçla Aktarılabileceği</h4>
        <p>
            Kişisel verileriniz; ilgili mevzuat hükümlerinin çizdiği sınırlar dahilinde, yukarıda belirtilen amaçların gerçekleştirilmesi ve ilgili mevzuatın getirdiği yükümlülüklerin yerine getirilmesi ile sınırlı olmak üzere T.C. Bilgi Teknolojileri ve İletişim Kurumu, T.C. Maliye Bakanlığı Gelir İdaresi Başkanlığı, T.C. Sosyal Güvenlik Kurumu gibi otoritelere, bakanlıklar, yargı mercileri gibi kanunen yetkili kılınmış kamu kurumlarına, https://www.ornek.com’ın faaliyetlerinin tamamlayıcısı veya uzantısı niteliğindeki hizmetleri aldığı destek hizmeti kuruluşları ve diğer anlaşmalı kuruluşlarına, mevzuatın izin verdiği hallerde işbirliği yaptığı danışmanlara ve kuruluşlara, finans kuruluşlarına, bağımsız denetim şirketlerine, bankalara, 6698 sayılı Kanun’un kişisel verilerin aktarılmasına ilişkin 8. maddesinde belirtilen diğer gerçek veya tüzel kişilere, ayrıca şirketimizle herhangi bir sözleşmesel ilişkisi bulunan diğer ilgili üçüncü kişilere aktarılabilecektir.
        </p>

        <h4>D) Kişisel Verilerin Toplanma Yöntemi ve Hukuki Sebebi</h4>
        <p>
            Kişisel verileriniz; otomatik veya otomatik olmayan yöntemlerle, sözlü, yazılı veya elektronik ortamda yukarıda belirtilen amaçlarla, doğrudan sizlerden alınarak veya başka şekillerde toplanabilir. İşleme faaliyeti ile ilgili hukuki sebepler ise; yukarıda belirtilen amaçlar ile sınırlı kalmak kaydıyla sözleşmenin kurulması veya ifası, veri sorumlusunun hukuki yükümlülüğünü yerine getirebilmesi, bir hak talebinin tesis edilebilmesi veya ifası, ilgili kişinin rızası ve meşru menfaatlerdir.
        </p>

        <h4>E) Kişisel Veri Sahiplerinin KVKK’nın 11. Maddesinde Sayılan Hakları</h4>
        <p>
            Kişisel veri sahipleri olarak, 6698 sayılı Kanun’un 11. maddesinde sayılan haklarınıza sahipsiniz. Bu haklar; kişisel verilerinizi işleyen veri sorumlusuna başvurarak kişisel verilerinizi öğrenme, kişisel verilerinizin işlenip işlenmediğini öğrenme, kişisel verilerinizi işlemiş olan üçüncü kişilere bildirilmesini isteme, kişisel verilerinizi eksik veya yanlış işlenmiş olması halinde düzeltilmesini isteme, kişisel verilerinizin silinmesini veya yok edilmesini isteme, kişisel verilerinizin işlenme sebeplerine aykırı olarak işlenmesi halinde itiraz etme ve kişisel verilerinizin kanuna aykırı olarak işlenmesi nedeniyle zarar görmeniz halinde tazminat talep etme haklarınız bulunmaktadır.
        </p>

        <h4>F) İletişim Bilgileri</h4>
        <p>
            Kişisel veri sahipleri olarak, bu haklarınızı kullanmak için PetSas ile aşağıda belirtilen iletişim bilgileri üzerinden irtibat kurabilirsiniz:
        </p>
        <p>Adres: Petsas Türkiye/İzmir</p>
        <p>KEP Adresi: petsas@hs03.kep.tr</p>
        <p>E-posta: info@petsas.com</p>
    </div>
</LegalPage>
