@page "/legal/privacyPolicy"
<LegalPage ImageSrc="img/legal/gizlilik.png"
           Title="Gizlilik Politikası">
    <div class="justified">
        <h4>1. Amaç ve Kapsam</h4>
        <p>
            Bu Gizlilik Politikası, PetSas olarak kullanıcılarımızın kişisel verilerinin toplanma, işlenme, saklanma ve korunma esaslarını açıklamak amacıyla hazırlanmıştır. Site’ye üye olan, hizmetlerimizi kullanan veya iletişim formu yoluyla bizlerle bağlantıya geçen tüm gerçek kişiler (“kullanıcı”) bu politikayı kabul etmiş sayılır.
        </p>

        <h4>2. Tanımlar</h4>
        <p>
            Kişisel Veri:imliği belirli veya belirlenebilir gerçek kişiye ait her türlü bilgidir.<br />
            Site:PetSas e-ticaret platformu (https://www.petsas.com).<br />
            Veri Sorumlusu:Kişisel verilerin işlenme amaç ve araçlarını belirleyen gerçek veya tüzel kişidir; burada PetSas.
        </p>

        <h4>3. Toplanan Kişisel Veriler</h4>
        <p>
            Kullanıcılarımızdan aşağıdaki veriler toplanabilir:
        </p>
        <ul>
            <li>Ad, soyad, T.C. kimlik numarası</li>
            <li>İletişim bilgileri (e-posta, telefon, faks adresi)</li>
            <li>İkamet veya fatura adresi bilgileri</li>
            <li>Kredi kartı veya ödeme bilgileri</li>
            <li>IP adresi, çerez (cookie), kullanım geçmişi ve site etkileşim verileri</li>
        </ul>

        <h4>4. İşlenme Amaçları</h4>
        <p>
            Toplanan kişisel verileriniz; sipariş süreçlerinin yürütülmesi, ödeme ve faturalama işlemleri, kargo takibi, müşteri desteği, kullanıcı doğrulama, kampanya bilgilendirmeleri ve ticari analiz amacıyla işlenir.
        </p>

        <h4>5. Kişisel Verilerin Aktarılması</h4>
        <p>
            İlgili yasalara uygun olarak, kişisel verileriniz:
        </p>
        <ul>
            <li>Üçüncü şahıs ödeme kuruluşlarına</li>
            <li>Kargo ve lojistik firmalarına</li>
            <li>Kanunen yetkili kamu kurumlarına</li>
            <li>Yalnızca işin gerektirdiği ölçüde paylaşılabilir.</li>
        </ul>

        <h4>6. Çerez Politikası</h4>
        <p>
            Site’de kullanıcı deneyimini geliştirmek amacıyla “çerez” (cookie) kullanılmaktadır. Tarayıcınızın ayarlarından çerezleri devre dışı bırakabilir; ancak bazı özelliklerin kısıtlı çalışabileceğini lütfen unutmayın.
        </p>

        <h4>7. Veri Saklama Süreleri</h4>
        <p>
            Kişisel verileriniz, yasal zorunluluklar ve meşru amaçların gerektirdiği süre boyunca saklanır. Süre sonunda verileriniz anonimleştirilerek veya silinerek imha edilir.
        </p>

        <h4>8. Veri Sahibi Hakları</h4>
        <p>
            6698 sayılı KVKK’nın 11. maddesi uyarınca; veri sahipleri olarak aşağıdaki haklara sahipsiniz:
        </p>
        <ul>
            <li>Kişisel verilerin işlenip işlenmediğini öğrenme</li>
            <li>İşlenen veriler hakkında bilgi talep etme</li>
            <li>Veri işlenme amacını ve aktarıldığı üçüncü kişileri öğrenme</li>
            <li>Hatalı işlenen verilerin düzeltilmesini veya silinmesini isteme</li>
            <li>Verilerin işlenmesine itiraz etme</li>
            <li>Veri taşınabilirliği talep etme</li>
        </ul>

        <h4>9. Güvenlik Önlemleri</h4>
        <p>
            Verilerinizin güvenliği için SSL/TLS şifreleme, erişim kontrolleri, düzenli denetimler gibi teknik ve idari tedbirler uygulanmaktadır.
        </p>

        <h4>10. Politika Değişiklikleri</h4>
        <p>
            Gizlilik Politikamızda yapılacak değişiklikler, sitemizde yayınlandığı tarihte yürürlüğe girer. Önemli değişikliklerde kullanıcılar e-posta yoluyla bilgilendirilecektir.
        </p>

        <h4>11. İletişim</h4>
        <p>Adres: Petsas Türkiye/İzmir</p>
        <p>KEP Adresi: petsas@hs03.kep.tr</p>
        <p>E-posta: info@petsas.com</p>
    </div>
</LegalPage>
