@* eksik *@
@page "/siparis/OdemeIslemi"

@attribute [Authorize]
@attribute [Authorize(Roles = "User")]

@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@using petsas2.Models
@using petsas2.Services.Interface

@inject ISnackbar Snackbar
@inject NavigationManager Navigation

<MudGrid GutterSize="2">
    <MudItem xs="12">
        <MudTextField T="string"
                      Value="ReadOnly"
                      Label="Şu Anda Buradasınız"
                      ReadOnly="true"
                      Variant="Variant.Outlined" />
    </MudItem>
</MudGrid>

@* Ödeme *@

<div class="col-lg-6 px-5 py-4">
    <h3 class="mb-5 pt-2 text-center fw-bold text-uppercase">Ödeme</h3>
    <form class="mb-5">
        <div class="form-outline mb-5">
            <input type="text" class="form-control form-control-lg"
                   placeholder="Kart Numarası" minlength="19" maxlength="19" />
            <label class="form-label">Kart Numarası</label>
        </div>

        <div class="form-outline mb-5">
            <input type="text" class="form-control form-control-lg"
                   placeholder="Kart üzerindeki isim" />
            <label class="form-label">Kart Üzerindeki İsim</label>
        </div>

        <div class="row">
            <div class="col-md-6 mb-5">
                <div class="form-outline">
                    <input type="text" class="form-control form-control-lg"
                           placeholder="AA/YY" minlength="5" maxlength="5" />
                    <label class="form-label">Son Kullanma</label>
                </div>
            </div>
            <div class="col-md-6 mb-5">
                <div class="form-outline">
                    <input type="password" class="form-control form-control-lg"
                           placeholder="CVV" minlength="3" maxlength="3" />
                    <label class="form-label">CVV</label>
                </div>
            </div>
        </div>

        <MudButton Variant="Variant.Filled" Color="Color.Primary"
                   OnClick="@SiparisVer">
         Siparişi Tamamla
        </MudButton>

        <MudButton Variant="Variant.Filled" Color="Color.Warning"
                   OnClick="@Iptal">
         İptal
        </MudButton>

    </form>
</div>

@code 
{
    public string ReadOnly { get; set; } = "Siparişi Tamamla: Ödeme İşlemi";



    // siparis verilir
    private async Task SiparisVer()
    {
       //----
        Snackbar.Add("Siparişiniz alındı.", Severity.Success);
        Navigation.NavigateTo("/siparis/SiparisAlindi"); //+
    }
    //iptal-dashboarda gideriko
    private async Task Iptal()
    {
        Snackbar.Add("Ödeme işlemi iptal edildi.", Severity.Warning);
        Navigation.NavigateTo("/user/Userdashboard"); 
    }
}